
$blue:#007bff;

$gray:#423d3d;

$black:#292626;

$orange:#fec46c;

$white:#e3e6e7;

$light-gray: #B7B7B7;

@import "partials/_general";

@import "partials/_header";
@import "partials/_cards";
@import "partials/_profile";
@import "partials/_slider";
@import "partials/_footer";
@import "partials/_contact";