header {
    z-index: 100;
    text-align: center;
    font-size: 20px;
    
}
.navigation {
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

.navigation__links {
    border-bottom: 2px solid $orange;
    padding: 10px;
    background-color: $gray;
    color: $white;
}

.navigation__links a {
    text-decoration: none;
    color: white;
    display: inline;
    margin: 10px 0;
    padding: 0 20px;
    cursor: pointer;
}
.navigation__links a:hover {
    color: $blue;
}
.navigation__links .active {
    color: $blue;
}

.hamburger {
    background-color: $gray;
    color: $orange;
    width: 100%;

    display: none;
    padding: 10px;
}

.hamburger .fas {
    padding: 7px;
    border-radius: 4px;
    margin-right: 10px;
    color: $white;
    background-color: $blue;
    font-size: 25px;
}

@media (max-width: 550px) {
    .hamburger {
        position: fixed;
        z-index: 100;
        top: 0;
        display: block;
        border-bottom: 2px solid $blue;
        text-align: right;
    }
    .hamburger:hover {
        cursor: pointer;
    }

    .navigation .navigation__links {
        display: none;
        margin-top: 55px;
    }

    .navigation .navigation__links.responsive {
        display: block;
    }
    .navigation .navigation__links.responsive > a {
        display: block;
    }

    .animation {
        animation: spinning 0.5s;
    }
    .animationTopDown {
        animation: topdown 0.5s;
    }
    .animationDownUp {
        animation: downup 0.5s;
    }

    @keyframes spinning {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    @keyframes topdown {
        from {
            transform: translateY(-100%);
        }
        to {
            transform: translateY(0);
        }
    }
    @keyframes downup {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(-100%);
        }
    }
}
