.profile{
    text-align: center;
   
}
.profile .card-title{
    margin-top:40px;
   
}

.container .about-content {
    margin-bottom: 180px;
   
}


.about-content span {
    color: $orange;
   
}

.about-content .card-text {
    color: $light-gray;
}
.card {
   border: 0;
  
    margin: 0 auto;
    margin-bottom: 30px;
   
   // box-shadow: 0px 3px 16px rgb(82, 82, 82);
   // transition: all 0.4s;

   
    & img {
        
        object-fit: cover;
    }
}
.card-body{
    background-color: $gray;
    color: white;
}
.card-title{
    font-size: 40px;
}
.card .highlight{
    color: $orange;
}
.card-subtitle {
    font-size: 20px;;
}

.progress-bar {
    background-color: $orange;
    color: black;
}

.skills{
    margin-top: 20px;
    padding: 20px 0;
}
.skills .card-text{
    margin: 1rem 0 0 0;
}

@media (max-width: 992px) {

    .card {
        max-width: 500px;
        height: auto;
    }
}